[submodule "commoncpp"]
	path = commoncpp
	url = git@github.com:dozedoff/commoncpp.git
[submodule "cppzmq"]
	path = cppzmq
	url = git@github.com:zeromq/cppzmq.git
[submodule "cmake"]
	path = cmake
	url = git@github.com:dozedoff/cmake-modules.git
[submodule "catch"]
	path = catch
	url = git@github.com:philsquared/Catch.git
